<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h1>ABOUT US</h1>
    <h3>About/Home</h3>
  </div>
  <video autoplay loop muted playsinline src="./assets/images/banner.mp4"></video>
</section>


  <!--Start Section About-->
  <section class="about text-center wow bounceIn" data-wow-duration="2s" data-wow-offset="100">
      <div class="container">
          <h1>About Our <span>Cooperation</span></h1>
          <p class="lead hidden-xs about-paragraph1">We work on a worldwide scale, giving our customers a genuine one-stop elective for all their transportation necessities. We have given a regularly developing framework that keeps on growing all around. Our organization and its kin strive to cook for our customers regularly changing necessities and keep on putting resources into the most recent innovation to guarantee we can give the most cutting-edge administrations and frameworks, paying little heed to overall time zones.</p>

      </div>
  </section>
  <!--End Section About-->

  <!--Start Our Section Team-->
  <section class="our-team text-center">
      <div class="team">
          <div class="container">
              <h2 class="h1">OUR HAPPY CLIENT SAYS</h2><br><br>
              <div class="row">
                  <div class="col-lg-3 col-sm-6">
                      <div class="person">
                          <img class="img-circle" src="http://www.ecommercetimes.com/images/rw557764/nadella.jpg" alt="Bill"/>
                          <h3>Bill Gates</h3>
                          <p>This Is Bill Gates The Founder Of Microsoft Products.</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <div class="person">
                          <img class="img-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9vOYtxeGo8BtiJWIRhdKHfKBvSq4XvesBwtZjKeraTQ6pCiJ6" alt="Jack"/>
                          <h3>Jack Dorsey</h3>
                          <p>This Is Jack Dorsey The Founder Of Amazing Site Twitter.</p>
                          <i class="fa fa-google-plus-square fa-lg"></i>
                          <i class="fa fa-facebook-square fa-lg"></i>
                          <i class="fa fa-twitter-square fa-lg"></i>
                          <i class="fa fa-youtube-square fa-lg"></i>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <div class="person">
                          <img class="img-circle" src="http://cdn.macrumors.com/article-new/2015/02/Steve-Jobs-200x200.png" alt="Steve"/>
                          <h3>Steve Jobs</h3>
                          <p>This Is Steve Jobs The Founder Of Amazing Apple Products.</p>
                          <i class="fa fa-google-plus-square fa-lg"></i>
                          <i class="fa fa-facebook-square fa-lg"></i>
                          <i class="fa fa-twitter-square fa-lg"></i>
                          <i class="fa fa-youtube-square fa-lg"></i>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <div class="person">
                          <img class="img-circle" src="https://github.com/amohata007/login_page/blob/master/images%20(1).jpg?raw=true" alt="Mark"/>
                          <h3>Mark Zuckerberg</h3>
                          <p>This Is Mark Zuckerberg The Founder Of Facebook.com.</p>
                          <i class="fa fa-google-plus-square fa-lg"></i>
                          <i class="fa fa-facebook-square fa-lg"></i>
                          <i class="fa fa-twitter-square fa-lg"></i>
                          <i class="fa fa-youtube-square fa-lg"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--End Section Our Team-->




