<br><br><br>

<div class="inner_page">
	<div class="page_banner">
		<img class="img" src="./assets/images/contact.jpg">
	</div>
</div>
<!--
<section class="form">
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="./assets/images/form-logo.png" class="form-img">
				</div>
				<div class="col-md-6">
					<h2>Angular 6 Reactive Form Validation</h2>
					<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
						<div class="form-group">
							<label>First Name</label>
							<input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
							<div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
								<div *ngIf="f.firstName.errors.required">First Name is required</div>
							</div>
						</div>
						<div class="form-group">
							<label>Last Name</label>
							<input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
							<div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
								<div *ngIf="f.lastName.errors.required">Last Name is required</div>
							</div>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
							<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
								<div *ngIf="f.email.errors.required">Email is required</div>
								<div *ngIf="f.email.errors.email">Email must be a valid email address</div>
							</div>
						</div>
						<div class="form-group">
							<label>Message</label>
							<input type="text" formControlName="message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" />
							<div *ngIf="submitted && f.message.errors" class="invalid-feedback">
								<div *ngIf="f.message.errors.required">Message is required</div>
								<div *ngIf="f.message.errors.minlength">Password must be at least  characters</div>
							</div>
						</div>
						<div class="form-group">
							<button [disabled]="loading" class="btn btn-primary">Register</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section> -->


<div class="container">
    <h1 class="title">Contact Form</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="contact">
        <h3 class="contact-us">Contact Us</h3>
        <div class="alert">Your message has been sent!</div>
        <form id="contactForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()" ngNativeValidate>
          <p class="name-field">
            <label>Name <span>*</span></label>
            <input type="text" name="name" id="name" required/>
          </p>
          <p class="company-field">
            <label>Company</label>
            <input type="text" name="company" id="company">
          </p>
          <p class="email-field">
            <label>Email <span>*</span></label>
            <input type="email" name="email" id="email" required/>
          </p>
          <p class="phone-field">
            <label>Phone <span>*</span></label>
            <input type="number" name="phone" id="phone" required/>
          </p>
          <p class="message-field full">
            <label>Message</label>
            <textarea name="message" rows="5" id="message"></textarea>
          </p>
          <p class="required-field">Required field <span>*</span></p>
          <p class="submit-button">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
