<br><br><br>

<div class="inner_page">
	<div class="page_banner">
		<img class="img" src="./assets/images/contact.jpg">
	</div>
	<div class="container">
		<div class="brctrm">
			<ul>
				<!-- <li><a href="index.html">Home</a></li> -->
				<li>Contact us</li>
			</ul>
		</div><!-- end of brctrm-->

		<div class="inner_sec" style="border-bottom: 0">
			<div class="row">
				<div class="col-sm-12 col-md-7">

					<div class="inner_frm cntpage_frm">
						<h1>Contact us</h1>
						<form action="" method="post">
							<input type="text" name="name*" placeholder="Name" required="" class="form-control">
							<input type="email" name="email" placeholder="Email*" required="" class="form-control">
							<input type="text" name="number" placeholder="Number*" required=""  pattern="[1-9]{1}[0-9]{9}" class="form-control">
							<input type="text" name="sub" placeholder="Subject" class="form-control">
							<textarea rows="4" class="form-control" placeholder="Comments"></textarea>
							<button class="btn" type="submit">Submit</button>
						</form>
					</div>
				</div><!--- end of left-section-->

				<div class="col-sm-12 col-md-5">
					<div class="add_sec">
						<h3>Bangalore</h3>
						<p>No 19, 27th Main, 1st Cross Road VGS Layout, Ejipura, Bangalore - 560047</p>

						<h3>Chennai</h3>
						<p>No 19, 27th Main, 1st Cross Road VGS Layout, Ejipura, Chennai - 560047</p>

						<h3>Hyderabad</h3>
						<p>No 19, 27th Main, 1st Cross Road VGS Layout, Ejipura, Hyderabad - 560047</p>

						<h3>Delhi</h3>
						<p>No 19, 27th Main, 1st Cross Road VGS Layout, Ejipura, Delhi - 560047</p>
					</div>
				</div><!-- end of right-section-->
			</div>
		</div>
	</div><!-- end of contianer-->
</div><!-- end of inner_page-->


<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497698.6600754044!2d77.35073403427613!3d12.954517010883638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C+Karnataka!5e0!3m2!1sen!2sin!4v1516613341570" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


<div class="enq_sec">
	<div class="container">
		<div class="col-xs-12  col-sm-12 col-md-4">
		<h2>For Any Help or Queries</h2>
		</div>
		<div class="col-xs-12  col-sm-12 col-md-5">
		<h2><a href="">Call Us Now On <span style="color: #D9546C">0422-3557890</span></a></h2>
		</div>

		<div class="col-xs-12  col-sm-12 col-md-3">
		<button class="btn" data-toggle="modal" data-target="#myModal">Enquire Now</button>
		</div>
	</div>
</div><!-- end of section5-->

