/*contact page*/
.img{
  width: 100%;
}


.cntpage_frm{
	margin-top: 50px;
	background-color: #eee;
}
.add_sec{
	background-color: #eee;
	margin-top: 50px;
	padding:20px 80px 20px 20px;
	border-radius: 5px;
}

/*map*/

.map{
	width: 100%;
	float: left;
	margin-top: 20px;
}
.map iframe{
	height: 450px;

}




/*multiphase form*/
#newModal h4 {
	width: 80%;
	margin:auto;
    text-align: center;
    color: #D9546C;
    border: 2px solid #D9546C;
    border-radius: 40px;
    font-family: Roboto-Medium;
    margin-bottom: 50px;
    padding: 10px 0;
    box-shadow: 0 0 3px;
    margin-top: 20px;
    float: left;
    margin-left: 10%;
}
.btndiv{
	width: 100%;
	float: left;
	text-align: center;
}
.subbtn{
	background-color: #D9546C;
	color: #fff;
	font-family: Roboto-Bold;
	text-transform: uppercase;
	font-size: 17px;
	width:45%;
	margin:0 2% 30px;
}
.subbtn:hover{
	color: #fff;
}
#newModal .close{
	border: 2px solid #aaa;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 20px;
    opacity: 1;
    top: 35px;
    margin-top: 18px;
}
.modal-content{
	width: 100%;
	float: left;
}
.packeer1{
	width:75%;
	margin:auto;
}

.typeimg{
	width: 33%;
	float: left;
	margin-bottom: 50px;
	text-align: center;
}
.packeer2{
	width: 100%;
}
.packeer2 .typeimg{
	width: 25%;
}
.typeimg img {
    width: 55%;
    height: 74px;
    background: #0054a6 none repeat scroll 0 0;
    border-radius: 100%;
    border: 2px solid #0054a6;
    box-shadow: 1px 1px 4px 2px #0054a6;
}
.typeimg label{
	width: 100%;
	padding:20px 10px;
}
.typeimg input{

}
.typeimg input:focus{
	background-color: red;
}
.typeimg span{
	font-family: Roboto-Medium;
}

#phase3 .form-control{
	margin-bottom: 20px;
	font-family: Roboto-Regular;
}
#phase3 p{
	width: 100%;
	float: left;
	color: #111;
	font-family: Roboto-Medium;
	margin-bottom: 20px;
}

#phase4 select{
	width: 30%;
	float: left;
	margin-right:3.2%;
	margin-bottom: 20px;
	font-family: Roboto-Regular;
}
#phase4 textarea{
	font-family: Roboto-Regular;
	resize: none;
	margin-bottom: 30px;
}
#phase5 .form-control{
	margin-bottom: 20px;
	font-family: Roboto-Regular;
}
#show_all_data h5{
	width: 100%;
    float: left;
    margin: 0px 0 50px;
    font-size: 20px;
    text-align: center;
    font-family: Roboto-Regular;
}

