<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 slider" src="./assets/images/slide_2.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">

        <p style="font-size: 45px">SEA AND AIR FREIGHTS EXPERTS</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 slider" src="./assets/images/slide_3.jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
          <p style="font-size: 45px">SEA AND AIR FREIGHTS EXPERTS</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 slider" src="./assets/images/slide_1.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
          <p style="font-size: 45px">SEA AND AIR FREIGHTS EXPERTS</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>



    <section class="blog-area gray-bg padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-blog wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-image">
                            <img src="./assets/images/blog_1.jpg" alt="">
                        </div>
                        <div class="blog-details text-center">
                            <div class="blog-meta"><a href="#"><i class="fa fa-ship"></i></a></div>
                            <h3><a href="single-blog.html">Ocean Freight</a></h3>
                            <p>Ocean freight is the most common form of transport for importers and exporters, accounting for 90% of goods transported.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-blog wow fadeInUp" data-wow-delay="0.3s">
                        <div class="blog-image">
                            <img src="./assets/images/blog_2.jpg" alt="">
                        </div>
                        <div class="blog-details text-center">
                            <div class="blog-meta"><a href="#"><i class="fa fa-plane"></i></a></div>
                            <h3><a href="single-blog.html">Air Freight</a></h3>
                            <p>Horizon Shipping's framework offers its customer an overall Airfreight inclusion, utilizing all the significant carriers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="single-blog wow fadeInUp" data-wow-delay="0.4s">
                        <div class="blog-image">
                            <img src="./assets/images/blog_3.jpg" alt="">
                        </div>
                        <div class="blog-details text-center">
                            <div class="blog-meta"><a href="#"><i class="fa fa-truck"></i></a></div>
                            <h3><a href="single-blog.html">Street Freight</a></h3>
                            <p>With our system of european operators/ accomplices, we give clients broad inclusion all through europe and other countries.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <br><br><br>
    <section class="about-area"><br><br><br><br><br>
        <div class="container">
          <div class="row">
            <div class="offset-lg-1 col-lg-12">
              <div class="about_box">
                <div class="activity">
                  <div class="row" id="cntr">
                    <div class="col-lg-3 col-md-3 col-6">
                      <div class="activity_box">
                        <div>
                          <img src="./assets/images/about/i1.png" alt="">
                        </div>
                        <h3><span class="count">15</span>+</h3>
                        <p>Offices Worldwide</p>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-6">
                      <div class="activity_box">
                        <div>
                          <img src="./assets/images/about/i2.png" alt="">
                        </div>
                        <h3><span class="count" >97</span>+</h3>
                        <p>Employees in Team</p>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                      <div class="activity_box">
                        <div>
                          <img src="./assets/images/about/i3.png" alt="">
                        </div>
                        <h3><span class="count" >12</span>+</h3>
                        <p>Countries Covered</p>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                      <div class="activity_box">
                        <div>
                          <img src="./assets/images/about/i4.png" alt="">
                        </div>
                        <h3><span class="count">25</span>+</h3>
                        <p>Years of Experience</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

       <!--PROMO AREA-->
    <section class="promo-area">
      <div class="promo-top-area section-padding wow fadeIn">

          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                      <div class="single-promo">
                          <div class="promo-icon"><i class="fa fa-anchor"></i></div>
                          <div class="promo-details">
                              <h3>Our Location</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </div>
                      <div class="single-promo">
                          <div class="promo-icon"><i class="fa fa-newspaper-o"></i></div>
                          <div class="promo-details">
                              <h3>Latest News</h3>
                              <p>For the Environment, now and tomorrow let the Experts Handle Your Cargo.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                      <div class="single-promo">
                          <div class="promo-icon"><i class="fa fa-umbrella"></i></div>
                          <div class="promo-details">
                              <h3>24/7 Support</h3>
                              <p>Contact us via our 24/7 online chat, our support center, or email us. We are here to help!</p>
                          </div>
                      </div>
                      <div class="single-promo">
                          <div class="promo-icon"><i class="fa fa-bicycle"></i></div>
                          <div class="promo-details">
                              <h3>Fast Delevery</h3>
                              <p>Our services promises delivery to given time in major cities, prime time plus.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-lg-4">
                      <img src="./assets/images/promo/promo_top_bg.png" class="promo-img">
                  </div>
              </div>
          </div>
      </div>

  </section>
  <!--PROMO AREA END-->






