<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 slider" src="./assets/images/slide_1.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 slider" src="./assets/images/slide_2.jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Secondary text</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 slider" src="./assets/images/slide_3.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>Third text</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>



    <section class="blog-area gray-bg padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-blog wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-image">
                            <img src="./assets/images/blog_1.jpg" alt="">
                        </div>
                        <div class="blog-details text-center">
                            <div class="blog-meta"><a href="#"><i class="fa fa-ship"></i></a></div>
                            <h3><a href="single-blog.html">Ocean Freight</a></h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout..</p>
                            <a href="single-blog.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-blog wow fadeInUp" data-wow-delay="0.3s">
                        <div class="blog-image">
                            <img src="./assets/images/blog_2.jpg" alt="">
                        </div>
                        <div class="blog-details text-center">
                            <div class="blog-meta"><a href="#"><i class="fa fa-plane"></i></a></div>
                            <h3><a href="single-blog.html">Air Freight</a></h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout..</p>
                            <a href="single-blog.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="single-blog wow fadeInUp" data-wow-delay="0.4s">
                        <div class="blog-image">
                            <img src="./assets/images/blog_3.jpg" alt="">
                        </div>
                        <div class="blog-details text-center">
                            <div class="blog-meta"><a href="#"><i class="fa fa-truck"></i></a></div>
                            <h3><a href="single-blog.html">Street Freight</a></h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout..</p>
                            <a href="single-blog.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <br><br><br><br><br>
    <section class="about-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="row justify-content-center text-left section-title-wrap">
                <div class="col-lg-12">
                  <h2>
                    Some statistics that we want <br>
                    to show our viewers
                  </h2>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-6 single_brand">
                      <img src="" alt="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 single_brand">
                      <img src="./assets/images/about/brand2.png" alt="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 single_brand">
                      <img src="./assets/images/about/brand3.png" alt="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 single_brand">
                      <img src="./assets/images/about/brand4.png" alt="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 single_brand">
                      <img src="./assets/images/about/brand5.png" alt="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 single_brand">
                      <img src="./assets/images/about/brand6.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="offset-lg-1 col-lg-4">
              <div class="about_box">
                <div class="activity">
                  <div class="row">
                    <div class="col-lg-6 col-md-3 col-6">
                      <div class="activity_box">
                        <div>
                          <img src="./assets/images/about/i1.png" alt="">
                        </div>
                        <h3>$<span class="counter">2500</span>+</h3>
                        <p>Packages Delivered</p>
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-3 col-6">
                      <div class="activity_box">
                        <div>
                          <img src="./assets/images/about/i2.png" alt="">
                        </div>
                        <h3>$<span class="counter">500</span>+</h3>
                        <p>Satisfied Clients</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-6">
                      <div class="activity_box">
                        <div>
                          <img src="./assets/images/about/i3.png" alt="">
                        </div>
                        <h3>$<span class="counter">70</span>+</h3>
                        <p>Contries reach</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-6">
                      <div class="activity_box">
                        <div>
                          <img src="./assets/images/about/i4.png" alt="">
                        </div>
                        <h3 class="counter">5000</h3>
                        <p>Tons of goods</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


