<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 slider" src="./assets/images/slide_1.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 slider" src="./assets/images/slide_2.jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Secondary text</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 slider" src="./assets/images/slide_3.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>Third text</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>



    <section class="blog-area gray-bg padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-blog wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-image">
                            <img src="./assets/images/blog_1.jpg" alt="">
                        </div>
                        <div class="blog-details text-center">
                            <div class="blog-meta"><a href="#"><i class="fa fa-ship"></i></a></div>
                            <h3><a href="single-blog.html">Ocean Freight</a></h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout..</p>
                            <a href="single-blog.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-blog wow fadeInUp" data-wow-delay="0.3s">
                        <div class="blog-image">
                            <img src="./assets/images/blog_2.jpg" alt="">
                        </div>
                        <div class="blog-details text-center">
                            <div class="blog-meta"><a href="#"><i class="fa fa-plane"></i></a></div>
                            <h3><a href="single-blog.html">Air Freight</a></h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout..</p>
                            <a href="single-blog.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="single-blog wow fadeInUp" data-wow-delay="0.4s">
                        <div class="blog-image">
                            <img src="./assets/images/blog_3.jpg" alt="">
                        </div>
                        <div class="blog-details text-center">
                            <div class="blog-meta"><a href="#"><i class="fa fa-truck"></i></a></div>
                            <h3><a href="single-blog.html">Street Freight</a></h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout..</p>
                            <a href="single-blog.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <br><br><br>
    <section class="about-area"><br><br><br><br><br>
        <div class="container">
          <div class="row">
            <div class="offset-lg-1 col-lg-12">
              <div class="about_box">
                <div class="activity">
                  <div class="row" id="cntr">
                    <div class="col-lg-3 col-md-3 col-6">
                      <div class="activity_box">
                        <div>
                          <img src="./assets/images/about/i1.png" alt="">
                        </div>
                        <h3>$<span class="counter"  data-count="2500">0</span>+</h3>
                        <p>Packages Delivered</p>
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-6">
                      <div class="activity_box">
                        <div>
                          <img src="./assets/images/about/i2.png" alt="">
                        </div>
                        <h3>$<span class="counter"  data-count="500">0</span>+</h3>
                        <p>Satisfied Clients</p>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                      <div class="activity_box">
                        <div>
                          <img src="./assets/images/about/i3.png" alt="">
                        </div>
                        <h3>$<span class="counter"  data-count="70">0</span>+</h3>
                        <p>Contries reach</p>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                      <div class="activity_box">
                        <div>
                          <img src="./assets/images/about/i4.png" alt="">
                        </div>
                        <h3 class="counter"  data-count="5000">0</h3>
                        <p>Tons of goods</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

       <!--PROMO AREA-->
    <section class="promo-area">
      <div class="promo-top-area section-padding wow fadeIn">

          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                      <div class="single-promo">
                          <div class="promo-icon"><i class="fa fa-anchor"></i></div>
                          <div class="promo-details">
                              <h3>Our Location</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </div>
                      <div class="single-promo">
                          <div class="promo-icon"><i class="fa fa-newspaper-o"></i></div>
                          <div class="promo-details">
                              <h3>Latest News</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                      <div class="single-promo">
                          <div class="promo-icon"><i class="fa fa-umbrella"></i></div>
                          <div class="promo-details">
                              <h3>24/7 Support</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </div>
                      <div class="single-promo">
                          <div class="promo-icon"><i class="fa fa-bicycle"></i></div>
                          <div class="promo-details">
                              <h3>Fast Delevery</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-lg-4">
                      <img src="./assets/images/promo/promo_top_bg.png" class="promo-img">
                  </div>
              </div>
          </div>
      </div>

  </section>
  <!--PROMO AREA END-->






